// Colors
$color-primary: #3f3250;
$color-secondary: #e14658;
$color-black: #0e0b11;
$color-grey: #d9d1e2;
$color-white: #fff;

// Fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;