.header {
    display: flex;
    font-family: $font-montserrat;
    background-color: $color-white;

    @media only screen and (max-width: $bp-medium) {
        height: 9rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
            justify-content: space-between;
            position: relative;
        }
    }

    &__hamburger {
        display: none;

        @media only screen and (max-width: $bp-large) {
            order: 1;
            display: block;
            margin-left: 4rem;
        }

        div {
            width: 25px;
            height: 3px;
            background-color: black;
            margin: 6px 0;
        }
    }

    &__logo:link,
    &__logo:visited {
        text-decoration: none;
        font-size: 3rem;
        color: $color-primary;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 600;
        margin-left: 4rem;

        @media only screen and (max-width: $bp-large) {
            order: 2;
            position: absolute;
            left: 50%;
            transform: translateX(calc(-50% - 4rem));
        }

        span {
            color: $color-secondary;
        }
    }

    &__links {
        margin-right: auto;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }

        &--mobile {
            display: flex;
            flex-direction: column;
            margin-top: 12.7rem;
            position: absolute;
            z-index: 10;
            width: 100%;
            background: $color-white;
            transition: position 2s;

            @media only screen and (max-width: $bp-medium) {
                margin-top: 12.5rem;
            }
        }
    }
    
    &__link:link,
    &__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color-black;
        font-weight: 500;
        margin-left: 5rem;
        letter-spacing: .1rem;
        transition: color .2s;

        &:hover {
            color: $color-secondary;
        }
    }

    &__link--mobile {
        margin-top: 1rem;
        padding-top: 1rem;
        width: 80%;

        &:last-child {
            padding-bottom: 1rem;
        }

        &:not(:last-child) {
            border-bottom: 2px solid $color-black;
        }
    }

    &__color-box {
        background-color: $color-secondary;
        padding: 3.5rem 6rem;
        transition: background-color .2s;

        @media only screen and (max-width: $bp-large) {
            order: 3;
        }
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }

        &:hover {
            background-color: $color-secondary;
        }
    }

    &__pick-link:link,
    &__pick-link:visited {
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: $color-white;
        font-weight: 300;
    }
}