.main {
    display: grid;
    grid-template-rows: 60vh 35vh min-content min-content;
    grid-template-columns: [full-start] minmax(6rem, .5fr) [center-start] repeat(12, minmax(min-content, 11rem)) [center-end] minmax(6rem, .5fr) [full-end];
}

.hero {
    grid-column: full-start / full-end;
}

.banner {
    grid-column: full-start / full-end;
}

.showcase {
    grid-column: center-start / center-end;
}

.testimonial {
    grid-column: full-start / full-end;
}

.pricing {
    grid-column: center-start / center-end;
    
    &__header {
        text-align: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
    }
}