.testimonial {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-primary, 0.8)),
    url(../img/testimonial-bg.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;

    display: grid;
    grid-template-columns: minmax(6rem, .5fr) [center-start] repeat(12, minmax(min-content, 11rem)) [center-end] minmax(6rem, .5fr);
    position: relative;

    &__text-box {
        grid-column: center-start / center-end;
        display: grid;
        margin: 10rem 0;
        text-align: center;
    }

    &__img-box {
        width: 15rem;
        border-radius: 50%;
        justify-self: center;
        position: relative;

        &::before {
            content: "\201D";
            position: absolute;
            right: 1.2rem;
            font-size: 6.5rem;
            height: 4rem;
            width: 4rem;
            font-family: sans-serif;
            background: $color-secondary;
            border-radius: 50%;
        }
    }

    &__img {
        width: 100%;
        border-radius: 50%;
    }

    &__text {
        font-size: 1.8rem;
        color: $color-white;
        font-weight: 300;
        line-height: 1.5;
        font-style: italic;
        width: 80%;
        justify-self: center;
        margin-top: 3rem;
    }

    &__person {
        font-size: 1.4rem;
        color: rgba($color-white, .5);
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 2.5rem;
    }

    &__dots {
        margin-top: 2rem;
        position: absolute;
        left: 50%;
        bottom: 6.5rem;
        transform: translateX(-50%);
    }

    &__dot {
        height: 1rem;
        width: 1rem;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1rem;
    }
}

.toggle-content {
	display: none;
	height: 0;
  	opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
	display: grid;
	height: auto;
  	opacity: 1;
}